  <div class="wrapper">
    <div class="register-background"> 
        <div class="filter-black"></div>
            <div class="container">
            <p><small><%= devise_error_messages! %></small></p>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" style="margin-top: 25px;">
                        <div class="register-card">
                            <h4 class="title">REGISTER</h4>
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"register-form", html: {novalidate: true}) do |f| %>    
                                
                                <%= f.label :name, for: "inputName" %>
                                <%= f.email_field :name, id: "inputName", autocomplete: "on",autofocus: true, class: "form-control", placeholder: "Jon Snow", onblur: "validate()" %>
                                <p id="testName"><small>Howdy!</small></p>
                                  
                                <%= f.label :email, for: "inputEmail" %>
                                <%= f.email_field :email, id: "inputEmail", autocomplete: "email",class: "form-control", placeholder: "jon@example.com.com", onblur: "validate()" %>
                                <p id="testEmail"><small>Pretty please?</small></p>
                                
                                <%= f.label :password, for: "inputPassword" %>
                                <% if @minimum_password_length %>
                                <small><em>(<%= @minimum_password_length %> characters minimum)</em></small>
                                <% end %><br />
                                <%= f.password_field :password, id: "inputPassword", autocomplete: "off", class: "form-control", placeholder: "••••••••", onblur: "validate()" %>
                                <p id="testPassword"><small>Secure password example: <em>X%LlVcFg7B1%</em></small></p>

                                <%= f.label :password_confirmation %><br />
                                <%= f.password_field :password_confirmation, id: "confirmPassword", autocomplete: "off", class: "form-control",  placeholder: "••••••••", onblur: "validate()" %>
                                <p id="confirmPassword2"><small>Confirm your password</small></p>
                                
                                <%= f.label :title, for: "inputTitle" %>
                                <%= f.text_field :title, id: "inputTitle", list:"titles", class: "form-control", placeholder: "e.g. Ser, Maester, Khal" %>
                                <datalist id="titles">
                                    <option value="King of The North"></option>
                                    <option value="Ser"></option>
                                    <option value="No One"></option>
                                    <option value="Maester"></option>
                                    <option value="Khal"></option>
                                </datalist>
                                
                                <%= f.submit "Register", class: "btn btn-fill btn-primary btn-block", disabled: "disabled", id: "register_button" %>

                            <% end %>

                            <div class="forgot">
                                <span  class="btn btn-simple btn-default">
                                  <%= render "devise/shared/links" %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        <div class="footer register-footer text-center">
                <h6>&copy; 2016, made with <i class="fa fa-heart heart"></i> by Winfred Selwyn</h6>
        </div>
    </div>
</div>  