<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Evejet</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    
  </head>

  <body>
    <div>
      <%= render "layouts/navbar" %>

      <%= yield %>
    </div>
    
    <script>    
        App = require("./components/app.js.jsx");
        NewEvent = require("./components/_new_event.js.jsx");
        AllEvents = require("./components/_all_events.js.jsx");
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1632BmCc46P2zQixsPns5BgaMmsxezRs&libraries=places"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <script>

      var startDate = new Date($('#startDate').val());
      var endDate = new Date($('#endDate').val());
      var now = new Date();
      $("#dtBox").DateTimePicker({
          dateTimeFormat: "yyyy-MM-ddTHH:mm",
          dateSeparator: "-",
          dateTimeSeparator: "T",
          maxDateTime: moment(endDate).add(30, 'minutes').format("yyyy-MM-ddTHH:mm"),
          minDateTime: moment(startDate).format("yyyy-MM-ddTHH:mm"),
          animationDuration: 100
      });


      $(document).ready(function(){ 

        $('input#guestTags').blur(function(){
            var guestTags2 = $('.bootstrap-tagsinput').text();
            var guestListVal = document.getElementById('guestList2');
            if(guestTags2 == "") {
                guestListVal.innerHTML = '<small>' + "Aww, you need a hug." + '</small>';
            } else {
                guestListVal.innerHTML = '<small>' + "Thank you!" + '</small>';
            }
            
        });
          
        $("input#startDate").blur(function(){
            var startDate = new Date($('#startDate').val());
            var endDate = new Date($('#endDate').val());
            var now = new Date();
            var inputDateCh = document.getElementById('dateVal');
            if(startDate < now) {
                inputDateCh.innerHTML = '<small>' + "Dates can't be in the past" + "</small>";
            } else if(endDate == "Invalid Date") {
                inputDateCh.innerHTML = '<small>' + "Please enter valid dates" + "</small>";
            } else if(startDate == "Invalid Date"){
                inputDateCh.innerHTML = '<small>' + "Please enter valid dates" + "</small>";
            } else if (startDate > endDate) {
                inputDateCh.innerHTML = '<small>' + "End date must be after start date" + "</small>";
            } else {
                inputDateCh.innerHTML = '<small>' + "Thank you!" + "</small>";
            }
        });
          
        $("input#endDate").blur(function(){
            var startDate = new Date($('#startDate').val());
            var endDate = new Date($('#endDate').val());
            var now = new Date();
            var inputDateCh = document.getElementById('dateVal');
            if (startDate > endDate) {
                inputDateCh.innerHTML = '<small>' + "End date must be after start date" + "</small>";
            } else if(endDate == "Invalid Date") {
                inputDateCh.innerHTML = '<small>' + "Please enter valid dates" + "</small>";
            } else if(startDate == "Invalid Date"){
                inputDateCh.innerHTML = '<small>' + "Please enter valid dates" + "</small>";
            } else {
                inputDateCh.innerHTML = '<small>' + "Thank you!" + "</small>";
            }
        });

          
        // location validations     
        $('input#eventLocation').blur(function(){
            var location = document.getElementById('eventLocation').value;
            var inputEventLocationTest = /[a-zA-Z0-9]+/.test(location);
            var inputLocationCh = document.getElementById('eventLocationVal');
            if(inputEventLocationTest == true) {
                inputLocationCh.innerHTML = '<small>' + "Thank you!" + '</small>';
            } else {
                inputLocationCh.innerHTML = '<small>' + "Please enter a location" + '</small>';
            }
        });
      });     

    </script>

  </body>
</html>
