<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Evejet</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://f67cf82ca6e14fe9c519a4f2c5ab3406baac6760.googledrive.com/host/0B58kgS5WGnGOaG9CbmFISUNiX2M/validate.js"></script>
    
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    
  </head>

  <body>
    <div>
      <%= render "layouts/navbar" %>

      <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1632BmCc46P2zQixsPns5BgaMmsxezRs&libraries=places"></script>
  </body>
</html>
